body {
  font-family: Palatino;
  background-image: url(../images/home_assistant_bg_2.jpg);
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid darkblue;
  margin: 5px;
  padding: 10px;
}

.form-item {
  padding: 5px;
}

.entries-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid darkblue;
  margin: 5px;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  align-self: baseline;
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid darkblue;
  margin: 5px;
  padding: 10px;
}

#list-header {
  font-weight: bold;
}

#stored-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
}

#stored-items-list li {
  background-color: lightblue;
  border-radius: 5px;
  border: 2px solid darkblue;
  margin: 5px;
  padding: 10px;
  width: 300px;
  height: 250px;
}
